<div class="col-12" style="padding-right: 0;">
  <h2 mat-dialog-title style="float: left; margin-bottom: 0px;">Excluir usuário</h2>
</div>
<div mat-dialog-content class="col-12 p-0 pt-4 text-center border-top">
  <p><strong>Você está prestes a excluir um usuário, tem certeza?</strong></p>
</div>
<div mat-dialog-actions class="actions border-top">
  <input type="submit" class="custom-btn mr-2" (click)="deleteUsuario(data.ctps);" id="confirmar" value="Sim">
  <input type="submit" class="custom-btn" id="cancelar" (click)="dialogRef.close();" mat-dialog-close value="Não">
</div>
