<div>
  <div class="col-12 form-inline" style="justify-content: flex-end;">
    <input type="submit" class="custom-btn mr-2" (click)="openAdd();" id="adicionar" value="Adicionar">
    <div class="col-4 col-md-1 col-lg-1 pl-0">
      <input autofocus class="custom-text table-text" [(ngModel)]="documento" mask="000.000.000-00" placeholder="Documento">
    </div>
    <button mat-icon-button style="color: #cecece;">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" style="color: white;">

    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef> Documento </th>
      <td mat-cell *matCellDef="let element"> {{element.documento | mask: '000.000.000-00'}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="contato">
      <th mat-header-cell *matHeaderCellDef> Contato </th>
      <td mat-cell *matCellDef="let element"> {{element.contato | mask: '(00)00000-0000'}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="openDelete(element.documento);" style="color: #cecece;">
          <mat-icon class="delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>
