<div class="col-12">
  <div class="col-12 col-md-8 col-lg-8" style="margin: 50px auto;">
    <input type="submit" class="custom-btn col-12 col-md-4 col-lg-4" id="entrada" value="Entrada" (click)="openRegistro('Entrada')">
    <input type="submit" class="custom-btn col-12 col-md-4 col-lg-4" id="saida" value="Saída" (click)="openRegistro('Saída')">
    <input type="submit" class="custom-btn col-12 col-md-4 col-lg-4" id="extra" value="Extra" (click)="openRegistro('Extra')">
    <button mat-icon-button color="warn" (click)="efetuarLogout();" style="font-size: 40px; text-shadow: 2px 2px 15px #d63031;">
      <mat-icon style="height: 40px; width: 40px; font-size: 40px;">power_settings_new</mat-icon>
    </button>
  </div>
</div>
